body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a7a7a7;
}
.calculator {
    background-color: rgb(180, 172, 172);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(39, 39, 39);
    text-align: center;
}
#display {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #fff9c0;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #8a8a8a;
}